/* CONTACT.html */

* {
  margin: 0;
  padding: 0;
}

body {
  color: #444444;
  font-family: "Fira sans", sans-serif;
  position: relative;
  width: auto;
  background-image: url(Footer-background.png);
}

.contactform {
  display: block;
  margin: 30px auto 30px;
  background-color: #fff;
  width: 420px;
  height: auto;
  border-radius: 5px;
}

.contactform__header {
  color: #222;
  font-size: 53px;
  margin: 30px 30px 0px;
}

.contactform__text {
  color: #222;
  font-size: 18px;
  margin: 0px 30px 20px;
}

.formquestions--layout {
  display: flex;
}

.formquestions {
  font-size: 12px;
}

.formquestions__text {
  font-size: 12px;
  font-weight: 400;
  margin: 0px 35px 5px;
}

.formquestions__input {
  width: 150px;
  margin: 0px 0px 10px 30px;
  border: 1px solid #999;
  border-radius: 4px;
}
.formquestions__input--email,
.formquestions__input--adress,
.formquestions__input--phone {
  width: 330px;
  margin: 0px 0px 10px 30px;
  border: 1px solid #999;
}

.formquestions__input--message {
  width: 330px;
  height: 150px;
  margin: 0px 30px 10px;
  border: 1px solid #999;
}

.contactform__button {
  width: 200px;
  height: 40px;
  color: #222;
  font-family: "Fira sans";
  font-size: 14px;
  letter-spacing: 0.204px;
  border-radius: 3px;
  border: 1px solid #222;
  background-color: #fff;
  margin: 10px 0px 10px 30px;
}
