* {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  font-family: "Fira sans", sans-serif;
  position: relative;
  width: auto;
  margin: 0 auto;
}

/* HEADER */

.header__ {
  display: flex;
  justify-content: space-between;
  background-color: #eee;
  padding: 20px 40px;
  height: 80px;
}

.header__img {
  height: 24px;
  width: 95px;
  flex-shrink: 0;
}

.header__menu {
  display: flex;
  align-self: flex-start;
  gap: 50px;
  @media (max-width: 768px) {
    display: none;
  }
}

.header__menu :first-child {
  color: #222;
}

.header__menu__item {
  color: #999;
  font-family: "Fira Sans";
  font-size: 12px;
  letter-spacing: 0.204px;
}

a:link {
  color: #999;
  text-decoration: none;
}

a:visited {
  color: #999;
}

a:hover {
  color: #c0c0c0;
  font-weight: bold;
}

.header__button {
  width: 146px;
  height: 40px;
  color: #000;
  text-align: center;
  font-family: "Fira Sans";
  font-size: 12px;
  letter-spacing: 0.204px;
  border-radius: 3px;
  border: 1px solid #000;
  flex-shrink: 0;
  @media (max-width: 768px) {
    display: none;
  }
}

.header__hamburger {
  display: none;
  @media (max-width: 768px) {
    display: block;
    margin-right: 18px;
  }
}

/* HERO */

.hero__ {
  background-color: #eee;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero__header {
  color: #222;
  text-align: center;
  font-family: "Fira Sans";
  font-size: 53px;
  @media (max-width: 768px) {
    font-size: 36px;
  }
}

.hero__text {
  width: 550px;
  color: #222;
  text-align: center;
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 50px;
  @media (max-width: 768px) {
    width: 340px;
  }
}

.hero__buttons {
  display: flex;
  justify-self: center;
  padding-bottom: 50px;
  gap: 50px;
  position: relative;
  animation-name: slide-buttons;
  animation-duration: 2s;
  animation-iteration-count: 1;
  @media (max-width: 768px) {
    animation: none;
  }
}

.hero__img {
  justify-self: center;
  position: relative;
  animation-name: slide;
  animation-duration: 2s;
  animation-iteration-count: 1;
  @media (max-width: 768px) {
    width: 255.226px;
    height: 255.968px;
    flex-shrink: 0;
    animation: none;
  }
}

/* CARDS */
.cards__ {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto 1fr 1fr;
  justify-content: center;
  justify-items: stretch;
  row-gap: 64px;
  column-gap: 30px;
  margin: 100px auto auto;
  @media (max-width: 768px) {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    justify-content: center;
    justify-items: stretch;
    row-gap: 16px;
    column-gap: 16px;
    margin: 20px auto 20px;
    width: 90%;
  }
}

.cards__header {
  height: 100px;
  color: #222;
  font-family: "Fira Sans";
  font-size: 53px;
  font-weight: bold;
  justify-self: center;
  grid-column: span 4;
  @media (max-width: 768px) {
    grid-column: span 2;
    height: 50px;
    font-size: 36px;
    margin: 20px auto 20px;
  }
}
.cards__small {
  display: grid;
  grid-template-rows: 5fr 1fr 1fr;
  row-gap: 10px;
  justify-content: center;
  align-content: center;
  text-align: center;
  width: auto;
  height: 400px;
  border-radius: 3px;
  background-color: #ebebeb;
  @media (max-width: 768px) {
    height: 240px;
    width: 160px;
  }
}

.cards__small--img {
  align-self: center;
  width: 96px;
  height: auto;
  padding-top: 30px;
  @media (max-width: 768px) {
    width: 60px;
    padding: 0px;
    align-self: center;
    justify-self: center;
  }
}

.cards__small--header {
  color: #222;
  align-self: end;
  font-family: "Fira Sans";
  font-size: 22px;
  font-weight: bold;
}

.cards__small--text {
  color: #000;
  align-self: start;
  font-family: "Fira Sans";
  font-size: 16px;
  font-weight: 400;
}

.cards__large {
  display: grid;
  grid-template-rows: 4fr 1fr 3fr;
  justify-content: center;
  align-content: center;
  border-radius: 3px;
  background-color: #343332;
  width: auto;
  height: 350px;
  grid-column: span 2;
  @media (max-width: 768px) {
    height: 216px;
  }
}

.cards__large--first {
  @media (max-width: 768px) {
    margin-top: 20px;
  }
}

.cards__large--header {
  align-self: end;
  color: #fff;
  font-family: "Fira Sans";
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.cards__large--text {
  justify-self: center;
  align-self: start;
  font-family: "Fira Sans";
  color: #ffffff99;
  font-size: 18px;
  font-weight: 400;
}

.cards__large--button {
  justify-self: center;
  align-self: start;
  background-color: #343332;
  color: #ffffff99;
  width: 150px;
  height: 40px;
  border-radius: 3px;
  border: 1px solid #ffffff99;
}

/* FOOTER */

.footer__ {
  background-image: url(Footer-background.png);
  background-size: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 550px;
  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    margin-top: 150px;
  }
}

.footer__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  height: 430px;
  width: 450px;
  margin: 70px 200px 70px 0px;
  border-radius: 3px;
  background: #fff;
  @media (max-width: 768px) {
    width: 343px;
    height: 420px;
    margin: auto;
  }
}

.footer__box--header {
  color: #222;
  font-family: "Fira sans";
  font-size: 53px;
  margin: 0px 0px 20px 30px;
  @media (max-width: 768px) {
    font-size: 36px;
  }
}

.footer__box--textlarge {
  color: #222;
  font-family: "Fira sans";
  font-size: 22px;
  margin: 0px 0px 10px 30px;
  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.footer__box--text {
  color: #222;
  font-family: "Fira sans";
  font-size: 14px;
  line-height: 150%;
  margin: 0px 0px 50px 30px;
  @media (max-width: 768px) {
    width: 75%;
  }
}

.footer__box--contact {
  display: flex;
  gap: 10px;
  list-style: none;
  margin: 0px 0px 20px 30px;
  color: #222;
  font-family: "Fira sans";
  font-size: 14px;
  line-height: 150%;
}

.footer__box--button {
  width: 146px;
  height: 40px;
  color: #222;
  text-align: center;
  font-family: "Fira sans";
  font-size: 14px;
  letter-spacing: 0.204px;
  border-radius: 3px;
  border: 1px solid #222;
  background-color: #fff;
  flex-shrink: 0;
  margin: 0px 0px 10px 30px;
  @media (max-width: 768px) {
    display: none;
  }
}

@keyframes slide {
  from {
    left: -150%;
  }
  to {
    left: 0%;
  }
}

@keyframes slide-buttons {
  from {
    left: 200%;
  }
  to {
    left: 0%;
  }
}
